---
# Only the main Sass file needs front matter (the dashes are enough)
# Author's note: customizing this for own use
---

@charset "utf-8";

img + em { }

$base00: #f8f8f8 !default;
$base01: #e8e8e8 !default;
$base02: #d8d8d8 !default;
$base03: #b8b8b8 !default;
$base04: #585858 !default;
$base05: #383838 !default;
$base06: #282828 !default;
$base07: #181818 !default;
$base08: #ab4642 !default;
$base09: #dc9656 !default;
$base0a: #f79a0e !default;
$base0b: #538947 !default;
$base0c: #4b8093 !default;
$base0d: #7cafc2 !default;
$base0e: #96609e !default;
$base0f: #a16946 !default;

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";
